<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Estudantes da Pátria</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        html, body {
            background: whitesmoke;
        }

        h1 {
            color: goldenrod;
        }

        h2 {
            font-size: 25px;
            color: darkcyan;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        <h1>Estudantes da Pátria</h1>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Viva e Deixe Viver</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
